In [45]:
import pandas as pd

In [46]:
df=pd.read_csv("Polynomial_data.csv")
df.head()

  Temperature (C) Pressure (kPa)  Unnamed: 2  Unnamed: 3 Extra Column
0            23.5          101.2         NaN         NaN          NaN
1            25.1          103.5         NaN         NaN    junk_data
2             NaN          105.8         NaN         NaN          NaN
3            27.3            NaN         NaN         NaN          NaN
4            28.9          110.2         NaN         NaN          NaN

In [47]:
df=df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1060 entries, 0 to 1059
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Temperature (C)  1059 non-null   object
 1   Pressure (kPa)   1054 non-null   object
 2   Unnamed: 2       0 non-null      float64
 3   Unnamed: 3       0 non-null      float64
 4   Extra Column     3 non-null      object
dtypes: float64(2), object(3)
memory usage: 41.5+ KB

In [48]:
df=df.drop(columns=['Unnamed: 2','Unnamed: 3','Extra Column'],errors='ignore')
df

AttributeError: 'NoneType' object has no attribute 'drop'

In [ ]:
df=df.drop(columns=['Unnamed: 2','Unnamed: 3','Extra Column'],errors='ignore')
df

In [ ]:
df=df.rename(columns={'Temperature (C)':'Temperature','Pressure (kPa)':'Pressure'})
df

In [ ]:
df.columns

In [ ]:
df.describe()